/* Large Screens (Desktop) */

@media (min-width: 900px) {
  nav a {
    margin: 0 2rem;
    font-size: 1.2rem;
  }

  main {
    width: 80%;
    margin: auto;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  section img {
    max-width: 400px;
  }

  .hero {
    padding: 2rem;
  }

  form {
    max-width: 600px;
  }
}
